<a href="https://colab.research.google.com/github/noelle-g/python/blob/master/pandas_exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

001. How to import pandas and check the version?

In [0]:
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json = True))

0.24.2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

{'system': {'commit': None, 'python': '3.6.8.final.0', 'python-bits': 64, 'OS': 'Linux', 'OS-release': '4.14.79+', 'machine': 'x86_64', 'processor': 'x86_64', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'en_US.UTF-8', 'LOCALE': 'en_US.UTF-8'}, 'dependencies': {'pandas': '0.24.2', 'pytest': '3.6.4', 'pip': '19.2.1', 'setuptools': '41.0.1', 'Cython': '0.29.13', 'numpy': '1.16.4', 'scipy': '1.3.0', 'pyarrow': '0.14.1', 'xarray': '0.11.3', 'IPython': '5.5.0', 'sphinx': '1.8.5', 'patsy': '0.5.1', 'dateutil': '2.5.3', 'pytz': '2018.9', 'blosc': None, 'bottleneck': '1.2.1', 'tables': '3.4.4', 'numexpr': '2.6.9', 'feather': '0.4.0', 'matplotlib': '3.0.3', 'openpyxl': '2.5.9', 'xlrd': '1.1.0', 'xlwt': '1.3.0', 'xlsxwriter': None, 'lxml.etree': '4.2.6', 'bs4': '4.6.3', 'html5lib': '1.0.1', 'sqlalchemy': '1.3.6', 'pymysql': None, 'psycopg2': '2.7.6.1 (dt dec pq3 ext lo64)', 'jinja2': '2.10.1', 's3fs': '0.3.1', 'fastparquet': None, 'pandas_gbq': '0.4.1', 'pandas_datareader': '0.7.4', 'gcsfs': None}}
None

002. How to create a series from a list, numpy array and dict?

In [0]:
import numpy as np
import pandas as pd
serie_from_list = pd.Series(["a", "b", "c"], index = ["Lettre " + str(i + 1) for i in range(3)])
print(serie_from_list)
serie_from_nparray = pd.Series(np.random.randint(low = 0, high = 10, size = 5), index = ["Chiffre " + str(i + 1) for i in range(5)])
print(serie_from_nparray)
dict = {"Paul": 35,
       "Jack": 40,
       "Peter": 41}
serie_from_dict = pd.Series(dict)
print(serie_from_dict)

Lettre 1    a
Lettre 2    b
Lettre 3    c
dtype: object
Chiffre 1    2
Chiffre 2    7
Chiffre 3    2
Chiffre 4    5
Chiffre 5    6
dtype: int64
Paul     35
Jack     40
Peter    41
dtype: int64

003. How to convert the index of a series into a column of a
dataframe?

In [0]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

004. How to combine many series to form a dataframe?

In [0]:
import numpy as np
import pandas as pd
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26)) 
sol1 = pd.concat([ser1, ser2], axis = 1)
print(sol1.head())
sol2 = pd.concat({'col1': ser1, 'col2': ser2}, axis = 1)
print(sol2.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4
  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

005. How to assign name to the series’ index?

In [0]:
import numpy as np
import pandas as pd
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabet'
print(ser.head())

0    a
1    b
2    c
3    e
4    d
Name: alphabet, dtype: object

006. How to get the items of series A not present in series B?

In [0]:
import numpy as np
import pandas as pd
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = ser1[~ser1.isin(ser2)] # ~ means not
print(ser3)
print(ser1.isin(ser2))

0    1
1    2
2    3
dtype: int64

0    False
1    False
2    False
3     True
4     True
dtype: bool

007. How to get the items not common to both series A and series
B?

In [0]:
import numpy as np
import pandas as pd
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_union = pd.Series(np.union1d(ser1, ser2))
ser_inter = pd.Series(np.intersect1d(ser1, ser2))
ser3 = ser_union[~ser_union.isin(ser_inter)]
print(ser3)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

008. How to get the minimum, 25th percentile, median, 75th, and
max of a numeric series?

In [0]:
import numpy as np
import pandas as pd
ser = pd.Series(np.random.normal(10, 5, 25))
sol1 = ser.describe()
print(sol1)
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
sol2 = np.percentile(ser, q=[0, 25, 50, 75, 100])
print(sol2)

count    25.000000
mean      9.333794
std       4.665840
min      -1.525656
25%       7.903176
50%       9.808972
75%      11.052159
max      17.716729
dtype: float64
[ 1.25117263  7.70986507 10.92259345 13.36360403 18.0949083 ]

009. How to get frequency counts of unique items of a series?

In [0]:
import numpy as np
import pandas as pd
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()/len(ser)

b    0.200000
a    0.166667
g    0.166667
f    0.133333
h    0.133333
c    0.100000
d    0.066667
e    0.033333
dtype: float64

010. How to keep only top 2 most frequent values as it is and
replace everything else as ‘Other’?

In [0]:
import numpy as np
import pandas as pd
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
i = ser.value_counts().sort_values(ascending = False)[2:]
print(i)
ser[~ser.isin(i)] = 'Other'
print(ser)

0     4
1     4
2     4
3     3
4     4
5     2
6     3
7     1
8     1
9     2
10    2
11    1
dtype: int64
2    3
3    2
dtype: int64
0     Other
1     Other
2     Other
3         3
4     Other
5         2
6         3
7     Other
8     Other
9         2
10        2
11    Other
dtype: object